.browserupgrade {
  margin: 0;
  background: #393939;
  color: #fff;
  padding: rem(30px) 0;
  text-align: center;
  font-size: rem(20px);
}

.flabLazy{
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50%;
}

img.flabLazy{
  max-width: 100%;
  width: 100%;
}

// Test styles need remove
.imgresponse {
  margin-top: rem(20px);
  max-width: 100%;
  width: 100%;
}
.test{
  top: 7px;
  padding: 10px;
  margin: 10px;
  background-color: #fff;
}
// End test
