/* @font-face {
  font-family: 'flabioiconfont';
  src: url('../font/flabioiconfont.eot?56805524');
  src: url('../font/flabioiconfont.eot?56805524#iefix') format('embedded-opentype'),
       url('../font/flabioiconfont.woff2?56805524') format('woff2'),
       url('../font/flabioiconfont.woff?56805524') format('woff'),
       url('../font/flabioiconfont.ttf?56805524') format('truetype'),
       url('../font/flabioiconfont.svg?56805524#flabioiconfont') format('svg');
  font-weight: normal;
  font-style: normal;
} */
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'flabioiconfont';
    src: url('../font/flabioiconfont.svg?56805524#flabioiconfont') format('svg');
  }
}
*/

 [class^="flabio-"]:before, [class*=" flabio-"]:before {
  font-family: "flabioiconfont";
  font-style: normal;
  font-weight: normal;
  speak: none;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.flabio-emo-unhappy:before { content: '\e802'; } /* '' */
.flabio-emo-sleep:before { content: '\e803'; } /* '' */
.flabio-emo-coffee:before { content: '\e808'; } /* '' */
